<header>
    <!-- Header desktop -->
    <div class="wrap-menu-header gradient1 trans-0-4">
        <div class="container h-full">
            <div class="wrap_header trans-0-3">
                <!-- Logo -->
                <div class="logo">
                    <a href="{{ path('client_home') }}">
                        <img src="{{ asset('client/images/logo.png') }}" alt="IMG-LOGO" data-logofixed="{{ asset('client/images/logo.png') }}">
                    </a>
                </div>

                <!-- Menu -->
                <div class="wrap_menu p-l-45 p-l-0-xl">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a href="{{ path('client_presentation') }}">Le domaine</a>
                            </li>
                            <li>
                                <a href="{{ path('client_wine') }}">Nos vins</a>
                            </li>

                            <li>
                                <a href="{{ path('client_gallery') }}">Galerie</a>
                            </li>

                            <li>
                                <a href="{{ path('client_news') }}">Actualités</a>
                            </li>

                            <li>
                                <a href="{{ path('client_contact') }}">Contact</a>
                            </li>
                            <li>
                                <a href="{{ path('client_order') }}">Commande{{ render(path('client_order_partial_bottles_number')) }}</a>

                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- Social -->
                <div class="social flex-w flex-l-m p-r-20">
                    <a href="https://www.facebook.com/domainedesvienais" target="_blank"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/domaine_des_vienais/" target="_blank"><i class="fa fa-instagram m-l-21" aria-hidden="true"></i></a>
                    <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Sidebar -->
<aside class="sidebar trans-0-4">
    <!-- Button Hide sidebar -->
    <button class="btn-hide-sidebar color0-hov trans-0-4"><i class="fa fa-close" aria-hidden="true"></i></button>

    <!-- - -->
    <ul class="menu-sidebar p-t-95 p-b-70">
        <li class="t-center m-b-13">
            <a href="{{ path('client_presentation') }}" class="txt19">Le domaine</a>
        </li>

        <li class="t-center m-b-13">
            <a href="{{ path('client_wine') }}" class="txt19">Nos vins</a>
        </li>

        <li class="t-center m-b-13">
            <a href="{{ path('client_gallery') }}" class="txt19">Galerie</a>
        </li>

        <li class="t-center m-b-13">
            <a href="{{ path('client_news') }}" class="txt19">Actualités</a>
        </li>

        <li class="t-center m-b-13">
            <a href="{{ path('client_contact') }}" class="txt19">Contact</a>
        </li>

        <li class="t-center m-b-13">
            <a href="{{ path('client_order') }}" class="txt19">Commande</a>
        </li>
    </ul>
</aside>


