{% extends 'admin/page/product.html.twig' %}
{% set page = 'bottle' %}

{% block content %}

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header card-header-text card-header-info">
                    <div class="card-text">
                        <h4 class="card-title">
                            {% block bottle_action_title %}
                                Nouveau
                            {% endblock %}
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group" style="padding-bottom:50px;">
                                {{ form_widget(form.vintage, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group" style="padding-bottom:50px;">
                                {{ form_widget(form.capacity, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.price) }}
                                {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.promoPrice) }}
                                {{ form_widget(form.promoPrice, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <div class="togglebutton">
                                    <label>
                                        {{ form_widget(form.available) }}
                                        <span class="toggle"></span>
                                        {{ form_label(form.available) }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="togglebutton">
                                    <label>
                                        {{ form_widget(form.visible) }}
                                        <span class="toggle"></span>
                                        {{ form_label(form.visible) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 30px;">
                        <div class="form-group" style="text-align: right">
                            {% block bottle_action_button %}
                                {% if action == 'update' %}
                                    {{ form_widget(form.save, {'label':'Modifier', 'attr': {'class': 'btn btn-fill btn-warning btn-wd'}}) }}
                                {% else %}
                                    {{ form_widget(form.save, {'label':'Ajouter', 'attr': {'class': 'btn btn-fill btn-success btn-wd'}}) }}
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead class="text-primary">
                        <tr>
                            <th class="text-center">Nom</th>
                            <th>Type</th>
                            <th>Visible</th>
                            <th>Dispo</th>
                            <th style="width:100px">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bottle in bottles %}
                            <tr>
                                <td class="td-name text-center">
                                    {{ bottle.vintage.year }} {{ bottle.vintage.cuvee.name }}<br>
                                    {% if bottle.promoPrice %}
                                        <span class="strikethrough">{{ bottle.price|number_format(2) }} €</span>
                                        <span style="color: #8860D0"> {{ bottle.promoPrice|number_format(2) }} €</span>
                                    {% else %}
                                        {{ bottle.price|number_format(2) }} €
                                    {% endif %}
                                </td>
                                <td>
                                    {{ bottle.capacity.name }}
                                </td>
                                <td>
                                    {% if bottle.visible %}
                                        <i class="material-icons" style="color:green;">done</i>
                                    {% else %}
                                        <i class="material-icons" style="color:red;">clear</i>
                                    {% endif %}

                                </td>
                                <td>
                                    {% if bottle.available %}
                                        <i class="material-icons" style="color:green;">done</i>
                                    {% else %}
                                        <i class="material-icons" style="color:red;">clear</i>
                                    {% endif %}
                                </td>
                                <td class="td-actions">
                                    <a href="{{ path('admin_product_bottle_update', { 'bottleId': bottle.id }) }}" class="btn btn-success btn-simple">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <button type="button" class="btn btn-danger btn-simple" data-toggle="modal" data-target="#bottleDeleteModal" data-id="{{ bottle.id }}">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="bottleDeleteModal" tabindex="-1" role="dialog" aria-labelledby="bottleDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bottleDeleteModalLabel">Supprimer la cuvée</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <a href="#" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
$('#bottleDeleteModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var id = button.data('id') // Extract info from data-* attributes
    var url = '{{ path('admin_product_bottle_delete', { 'bottleId': 'id' }) }}'
        url = url.replace("id", id)
        var modal = $(this)
        modal.find('.modal-title').text('Supprimer la bouteille');
        modal.find('.modal-footer a').attr("href", url)
    })
</script>
{% endblock %}


