{% extends 'client/basePayment.html.twig' %}

{% set step = 'payment' %}

{% block return_to_order %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="order-card">
                    <div class="row">
                        <div class="col-md-10">
                            <h3><i class="fa fa-shopping-basket"></i>  {{ "Mon panier"|trans }}</h3>
                        </div>
                        <div class="col-md-2" style="text-align: right">
                            <span href="#" id="show-basket-button"><i class="fa fa-plus"></i></span>
                        </div>
                    </div>
                    <div id="basket-summary">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Produit</th>
                                        <th class="t-center" scope="col">Quantité</th>
                                        <th class="t-right" scope="col">Prix</th>
                                    </tr>
                                    </thead>
                                    {% for bottle in order.basket %}
                                        <tr>
                                            <td>{{ bottle.name }}</td>
                                            <td class="t-center">{{ bottle.quantity }}</td>
                                            {% set totalPrice = bottle.price * bottle.quantity %}
                                            <td class="t-right">
                                                {% if bottle.promoPrice %}
                                                    {% set totalPromoPrice = bottle.promoPrice * bottle.quantity %}
                                                    <span class="strikethrough">{{ totalPrice|number_format(2) }} €</span>
                                                    <span class="promo-price">  {{ totalPromoPrice|number_format(2) }} €</span>
                                                {% else %}
                                                    {{ totalPrice|number_format(2) }} €
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-card">
                    <div class="row">
                        <div class="col-md-10">
                            <h3><i class="fa fa-map-marker"></i> {{ "Adresse de livraison"|trans }}</h3>
                        </div>
                        <div class="col-md-2" style="text-align: right">
                            <span href="#" id="show-delivery-button"><i class="fa fa-plus"></i></span>
                        </div>
                    </div>
                    <div id="delivery-summary">
                        <div class="row">
                            <div class="col-md-6">
                                <b>{{ order.deliveryAddress.lastname }} {{ order.deliveryAddress.firstname }}</b><br>
                                {{ order.deliveryAddress.address }} <br>
                                {% if '' !=  order.deliveryAddress.addressComplement %}
                                    {{ order.deliveryAddress.addressComplement }} <br>
                                {% endif %}
                                {{ order.deliveryAddress.zipcode }} {{ order.deliveryAddress.city }}
                            </div>
                            <div class="col-md-6">
                                {{ order.deliveryAddress.phone }} <br>
                                {{ order.deliveryAddress.email }}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="order-card">
                    <div class="row">
                        <div class="col-md-10">
                            <h3><i class="fa fa-credit-card"></i> {{ "Moyen de paiement"|trans }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <button id="show-card-payment-info-button" class="btn basket-button">Carte bancaire</button>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <button id="show-check-info-button" class="btn basket-button-unselected">Chèque</button>
                        </div>
                    </div>
                    <div id="card-payment-info">
                        <div class="row">
                            <div class="p-l-30 col-md-12">
                                <p>
                                    <b> Vous choisissez le paiement sécurisé en ligne :</b>
                                </p>
                                <img class="payment-logo" src="{{ asset('client/images/commande/cb.jpg') }}" alt="CB">
                                <img class="payment-logo" src="{{ asset('client/images/commande/visa.png') }}" alt="visa">
                                <img class="payment-logo" src="{{ asset('client/images/commande/mastercard.png') }}" alt="mastercard">
                                <img class="payment-logo" src="{{ asset('client/images/commande/paypal.png') }}" alt="paypal">
                                <p>
                                    Après avoir cliqué sur "Payer en ligne", vous serez redirigé vers le site de paiement en ligne (Paypal), où vous réglerez votre commande en toute sécurité.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="check-info">
                        <div class="row">
                            <div class="p-l-30 col-md-12">
                                <p>
                                    <b>Vous choisissez le paiement par chèque :</b>
                                </p>
                                <p>
                                    Notez la référence de la commande : <i>{{ order.reference }}</i> <br>
                                    Remplissez votre chèque à l'ordre "EARL des Vienais" <br>
                                    Envoyez votre chèque à l'adresse suivante :
                                </p>
                                <p class="p-l-50 p-t-5 p-b-5">
                                    <i>
                                        Domaine des Vienais<br>
                                        3, rue des lavandières<br>
                                        37140 Benais
                                    </i>
                                </p>
                                <p>
                                    La commande vous sera envoyée à la réception du chèque.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="basket-promotion">
                </div>
                <div class="basket-information  p-b-50 order-card">
                    <div class="sub-total-price">
                        <span class="basket-category">{{ "Panier"|trans }}</span>
                        <span class="basket-result">{{ order.subPrice|number_format(2) }} €</span>
                        <hr class="basket-separator">
                    </div>
                    <div class="transport-fees">
                        <span class="basket-category">{{ "Frais de livraison"|trans }}</span>
                        <span class="basket-result">{{ order.deliveryFees|number_format(2) }} €</span>
                        <hr class="basket-separator">
                    </div>
                    <div class="discount-price" {% if 0 < order.totalDiscount %} style="display: block" {% endif %}>
                        <span class="basket-category">{{ "Économie"|trans }}</span>
                        <span class="basket-result">{{ order.totalDiscount|number_format(2) }} €</span>
                        <hr class="basket-separator">
                    </div>
                    <div class="total-price">
                        <span class="basket-category">{{ "TOTAL"|trans }}</span>
                        <span class="basket-result">{{ order.price|number_format(2) }} €</span>
                    </div>
                    <div id="div-payment-button" class="submit">
                        <input id="order-reference" type="hidden" readonly value="{{ order.reference }}">
                        <a href="{{ path('client_order_payment_choice', {orderReference: order.reference, paymentType: "carte"}) }}" class="btn basket-button">
                            Payer en ligne
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('client/js/page/payment.js') }}"></script>
{% endblock %}