{% extends 'client/basePayment.html.twig' %}

{% set step = 'summary' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/page/print_order.css') }}" media="print">
{% endblock %}

{% block return_to_order %}
{% endblock %}

{% if order.state in ["payed", "waiting_for_check"] %}
    {% set result = "success" %}
{% else %}
    {% set result = "fail"%}
{% endif %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-print-12 col-md-8">
                <div id="card-payment-result" class="order-card {{ result }}-card">
                    <div class="row">
                        <div class="col-md-10">
                            {% if order.state in ["payed", "waiting_for_check"] %}
                                <p>
                                    <span class="check-success"><i class="fa fa-check"></i></span> {{ "Votre commande a bien été prise en compte."|trans }}
                                </p>

                                {% if "cheque" == order.paymentType %}
                                    <p class="t-underline m-b-5">
                                        Vous avez choisi le paiement par chèque :
                                    </p>
                                    <p>
                                        Notez la référence de la commande : <b>{{ order.reference }}</b> <br>
                                        Remplissez votre chèque à l'ordre "EARL des Vienais" <br>
                                        Envoyez votre chèque à l'adresse suivante :
                                    </p>
                                    <p class="p-l-50 p-t-5 p-b-5">
                                        <i>
                                            Domaine des Vienais<br>
                                            3, rue des lavandières<br>
                                            37140 Benais
                                        </i>
                                    </p>
                                    <p>
                                        La commande vous sera envoyée à la réception du chèque.
                                    </p>
                                {% else %}
                                    <p class="m-b-5">
                                        Référence de la commande : <b>{{ order.reference }}</b>
                                    </p>
                                    <p>Votre commande est en cours de préparation !</p>
                                {% endif %}
                            {% elseif order.state in ["payment_canceled", "payment_failed"] %}
                                <p>
                                    <span class="check-error"><i class="fa fa-times"></i></span> {{ "Votre paiement a échoué."|trans }}
                                </p>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
                <div id="card-basket-summary" class="order-card">
                    <div id="basket-summary-header" class="row">
                        <div class="col-md-10">
                            <h3><i class="fa fa-shopping-basket"></i>  {{ "Mon panier"|trans }}</h3>
                        </div>
                        <div class="col-md-2" style="text-align: right">
                            <span href="#" id="show-basket-button"><i class="fa fa-plus"></i></span>
                        </div>
                    </div>
                    <div id="basket-summary" class="row">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Produit</th>
                                <th class="t-center" scope="col">Quantité</th>
                                <th class="t-right" scope="col">Prix</th>
                            </tr>
                            </thead>
                            {% for bottle in order.basket %}
                                <tr>
                                    <td>{{ bottle.name }}</td>
                                    <td class="t-center">{{ bottle.quantity }}
                                        {% set totalPrice = bottle.price * bottle.quantity %}
                                    <td class="t-right">
                                        {% if bottle.promoPrice %}
                                            {% set totalPromoPrice = bottle.promoPrice * bottle.quantity %}
                                            <span class="strikethrough">{{ totalPrice|number_format(2) }} €</span>
                                            <span class="promo-price">  {{ totalPromoPrice|number_format(2) }} €</span>
                                        {% else %}
                                            {{ totalPrice|number_format(2) }} €
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div id="card-delivery-summary" class="order-card">
                    <div class="row">
                        <div class="col-md-10">
                            <h3><i class="fa fa-map-marker"></i> {{ "Adresse de livraison"|trans }}</h3>
                        </div>
                        <div class="col-md-2" style="text-align: right">
                            <span href="#" id="show-delivery-button"><i class="fa fa-plus"></i></span>
                        </div>
                    </div>
                    <div id="delivery-summary">
                        <div class="row">
                            <div class="col-md-6">
                                <b>{{ order.deliveryAddress.lastname }} {{ order.deliveryAddress.firstname }}</b><br>
                                {{ order.deliveryAddress.address }} <br>
                                {% if '' !=  order.deliveryAddress.addressComplement %}
                                    {{ order.deliveryAddress.addressComplement }} <br>
                                {% endif %}
                                {{ order.deliveryAddress.zipcode }} {{ order.deliveryAddress.city }}
                            </div>
                            <div class="col-md-6">
                                {{ order.deliveryAddress.phone }} <br>
                                {{ order.deliveryAddress.email }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="card-back-to-site" class="order-card">
                    <a href="{{ path('client_home') }}" class="btn basket-button">
                        Revenir au site
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('client/js/page/payment.js') }}"></script>
{% endblock %}