{% extends 'client/base.html.twig' %}
{% block title %}Domaine Des Vienais - Contact{% endblock %}
{% block meta_keywords %}Domaine des Vienais, Guillaume Poupineau, Gérard Poupineau, vin de Bourgueil, adresse, numéro, contact{% endblock %}
{% block meta_description %}Contactez le domaine des Vienais{% endblock %}

{% block title_page %}Contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/page/contact.css') }}">
{% endblock %}

{% block body %}
    <section class="section-contact bg1-pattern p-t-90 p-b-113">
        <div class="container">
            {% if "" != formResponse %}
            <p class="font-weight-bold t-center">
                {{ formResponse }}
            </p>
            {% endif %}
            <h3 class="tit7 t-center p-b-62 p-t-105">
                {{ "Envoyez-nous un message" | trans }}
            </h3>

            {{ form_start(form, {'attr': {'class': 'wrap-form-reservation size22 m-l-r-auto'}}) }}
                <div class="row">
                    <div class="col-md-6">
                        <!-- Firstname -->
                        <span class="txt9">
							{{ form_label(form.firstname, 'Prénom'|trans ) }} *
						</span>

                        <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                            {{ form_widget(form.firstname, {'attr': {'class': 'bo-rad-10 sizefull txt10 p-l-20'}}) }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Lastname -->
                        <span class="txt9">
							{{ form_label(form.lastname, 'Nom'|trans ) }} *
						</span>

                        <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                            {{ form_widget(form.lastname, {'attr': {'class': 'bo-rad-10 sizefull txt10 p-l-20'}}) }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Email -->
                        <span class="txt9">
							{{ form_label(form.email, 'Email'|trans ) }} *
						</span>

                        <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                            {{ form_widget(form.email, {'attr': {'class': 'bo-rad-10 sizefull txt10 p-l-20'}}) }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Phone -->
                        <span class="txt9">
							{{ form_label(form.phone, 'Téléphone'|trans ) }}
                        </span>

                        <div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
                            {{ form_widget(form.phone, {'attr': {'class': 'bo-rad-10 sizefull txt10 p-l-20'}}) }}
                        </div>
                    </div>

                    <div class="col-12">
                        <!-- Message -->
                        <span class="txt9">
							{{ form_label(form.comment, 'Message'|trans ) }} *
						</span>
                        {{ form_widget(form.comment, {'attr': {'class': 'bo-rad-10 size35 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-3'}}) }}
                    </div>
                    <div class="col-md-6">
                        <!-- Email -->
                        <span class="txt9">
                            {{ form_label(form.captcha, 'Captcha'|trans ) }} *
                        </span>
                        <span style="color:red">{{ form_errors(form.captcha) }}</span>
                        <div>
                            {{ form_widget(form.captcha, {'attr': {'class': 'bo-rad-10 sizefull txt10 p-l-20'}}) }}
                        </div>
                    </div>
                </div><br>
                <p>* Champ obligatoire</p>
                <div class="wrap-btn-booking flex-c-m m-t-13">
                    <!-- Button3 -->
                    {{ form_widget(form.send, {'attr': {'class': 'btn3 flex-c-m size36 txt11 trans-0-4'}}) }}
                </div>
            {{ form_end(form) }}

            <div class="row p-t-135">
                <div class="col-sm-8 col-md-4 col-lg-4 m-l-r-auto p-t-30">
                    <div class="dis-flex m-l-23">
                        <div class="p-r-40 p-t-6">
                            <img src="{{ asset('client/theme/images/icons/map-icon.png') }}" alt="IMG-ICON">
                        </div>

                        <div class="flex-col-l">
							<span class="txt5 p-b-10">
								{{ "Adresse" | trans }}
							</span>

                            <span class="txt23 size38">
								3, Rue des lavandières<br>
                                37140 Benais
							</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8 col-md-3 col-lg-4 m-l-r-auto p-t-30">
                    <div class="dis-flex m-l-23">
                        <div class="p-r-40 p-t-6">
                            <img src="{{ asset('client/theme/images/icons/phone-icon.png') }}" alt="IMG-ICON">
                        </div>


                        <div class="flex-col-l">
							<span class="txt5 p-b-10">
								{{ "Appelez nous" | trans }}
							</span>

                            <span class="txt23 size38">
								02 47 97 35 19
							</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8 col-md-5 col-lg-4 m-l-r-auto p-t-30">
                    <div class="dis-flex m-l-23">
                        <div class="p-r-40 p-t-6">
                            <img src="{{ asset('client/theme/images/icons/clock-icon.png') }}" alt="IMG-ICON">
                        </div>


                        <div class="flex-col-l">
							<span class="txt5 p-b-10">
								{{ 'Horaires' | trans }}
							</span>

                            <span class="txt23 size38">
								09:30 – 12:00 / 14:00 – 18:00
							</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-lunch bgwhite">
        <iframe style="width:100%" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=EARL+des+Vienais,+3+Rue+des+Lavandi%C3%A8res,+37140+Benais&amp;aq=0&amp;oq=earl&amp;sll=47.293988,0.218997&amp;sspn=0.016736,0.042272&amp;vpsrc=0&amp;ie=UTF8&amp;hq=EARL+des+Vienais,&amp;hnear=3+Rue+des+Lavandi%C3%A8res,+37140+Benais,+Indre-et-Loire,+Centre&amp;t=h&amp;ll=47.294039,0.216411&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br />
    </section>

{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
        }
    </script>
{% endblock %}