{% extends 'client/basePayment.html.twig' %}

{% set step = 'delivery' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="order-card">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><i class="fa fa-shopping-basket"></i>  {{ "Mon panier"|trans }}</h2>
                        </div>
                        <div class="col-md-6" style="text-align: right">
                            <span href="#" id="show-basket-button"><i class="fa fa-plus"></i></span>
                        </div>
                    </div>
                    <div id="basket-summary" class="row">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Produit</th>
                                <th class="t-center" scope="col">Quantité</th>
                                <th class="t-right" scope="col">Prix</th>
                            </tr>
                            </thead>
                        {% for bottle in bottles %}

                            {% if bottlesOrdered[bottle.id] is defined and 0 < bottlesOrdered[bottle.id]%}
                                <tr>
                                    <input type="hidden" name="qty_{{ bottle.id }}" readonly value="{{ bottlesOrdered[bottle.id] }}">
                                    <input type="hidden" name="price_{{ bottle.id }}" readonly value="{{ bottle.price }}">
                                    <td>{{ bottle.vintage.cuvee.name }} {{ bottle.vintage.year }} - {{ bottle.capacity.name}}</td>
                                    <td class="t-center">{{ bottlesOrdered[bottle.id] }}
                                    {% set totalPrice = bottle.price * bottlesOrdered[bottle.id] %}
                                    <td class="t-right">{{ totalPrice|number_format(2) }} €</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="order-card">
                    <div class="row m-b-20">
                        <div class="col-md-12">
                            <h2><i class="fa fa-map-marker"></i> {{ "Adresse de livraison"|trans }}</h2>
                        </div>
                    </div>
                    {{ form_start(deliveryForm, {'attr': {'class': 'wrap-form-reservation size22 m-l-r-auto'}}) }}
                    <div class="row">
                        <div class="col-md-6">
                            <span class="txt9">
                                {{ form_label(deliveryForm.firstname, 'Prénom'|trans ) }} *
                            </span>

                            <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                {{ form_widget(deliveryForm.firstname, {'attr': {'class': 'bo-rad-10 sizefull txt10 p-l-20'}}) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <span class="txt9">
                                {{ form_label(deliveryForm.lastname, 'Nom'|trans ) }} *
                            </span>

                            <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                {{ form_widget(deliveryForm.lastname, {'attr': {'class': 'bo-rad-10 sizefull txt10 p-l-20'}}) }}
                            </div>
                        </div>

                        <div class="col-md-12">
                            <span class="txt9">
                                {{ form_label(deliveryForm.address, 'Addresse'|trans ) }} *
                            </span>

                            <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                {{ form_widget(deliveryForm.address, {'attr': {'class': 'bo-rad-10 sizefull txt10 p-l-20'}}) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <span class="txt9">
                                {{ form_label(deliveryForm.zipcode, 'Code Postal'|trans ) }} *
                            </span>

                            <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                {{ form_widget(deliveryForm.zipcode, {'attr': {'class': 'bo-rad-10 sizefull txt10 p-l-20'}}) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <span class="txt9">
                                {{ form_label(deliveryForm.city, 'Ville'|trans ) }} *
                            </span>

                            <div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                {{ form_widget(deliveryForm.city, {'attr': {'class': 'bo-rad-10 sizefull txt10 p-l-20'}}) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <span class="txt9">
                                {{ form_label(deliveryForm.phone, 'Téléphone'|trans ) }} *
                            </span>

                            <div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                {{ form_widget(deliveryForm.phone, {'attr': {'class': 'bo-rad-10 sizefull txt10 p-l-20'}}) }}
                            </div>
                        </div>
                    </div>
                    <p>* Champ obligatoire</p>
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="wrap-btn-booking flex-c-m m-t-13">
                                {{ form_widget(deliveryForm.send, {'attr': {'class': 'btn basket-button'}}) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(deliveryForm) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="basket-promotion">

                </div>
                <div class="basket-information  p-b-50 order-card">
                    <div class="sub-total-price">
                        <span class="basket-category">{{ "Panier"|trans }}</span>
                        <span class="basket-result"></span>
                        <hr class="basket-separator">
                    </div>
                    <div class="transport-fees">
                        <span class="basket-category">{{ "Frais de livraison"|trans }}</span>
                        <span class="basket-result">0,00 €</span>
                        <hr class="basket-separator">
                    </div>
                    <div class="total-price">
                        <span class="basket-category">{{ "TOTAL"|trans }}</span>
                        <span class="basket-result"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}