{% extends 'client/base.html.twig' %}
{% block title %}Domaine Des Vienais - Commande{% endblock %}
{% block title_page %}Commande{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/page/order.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/vendor/loader/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/vendor/loader/loader-1.css') }}">
{% endblock %}

{% block body %}
<section class="bg1-pattern p-t-50 p-b-105">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="order-card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Type</th>
                                <th  class="t-right" scope="col">Prix</th>
                                <th class="t-right" scope="col">Quantité</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for vintage in vintages %}
                            {%  if vintage.bottles is not empty %}
                            <tr>
                                <td rowspan="{{ 1 + vintage.bottles|length }}" class="t-center">
                                    <div class="d-none d-md-block hov-img-zoom">
                                        <img style="width:120px" src="{{ asset( image_cuvee_location ~ vintage.cuvee.imagePath) }}" alt="no image">
                                    </div>
                                </td>
                                <td colspan="3" class="txt5">{{ vintage.cuvee.name }} {{ vintage.year }}</td>
                            </tr>
                            {% for bottle in vintage.bottles %}
                            <tr>
                                <td>{{ bottle.capacity.name}}</td>
                                <td class="t-right">
                                    {% if bottle.promoPrice %}
                                        <span class="strikethrough">{{ bottle.price|number_format(2) }} €</span>
                                        <span class="promo-price">  {{ bottle.promoPrice|number_format(2) }} €</span>
                                        <input type="hidden" id="price_{{ bottle.id }}" name="price_{{ bottle.id }}" value="{{ bottle.promoPrice }}" readonly>
                                    {% else %}
                                        {{ bottle.price|number_format(2) }} €
                                        <input type="hidden" id="price_{{ bottle.id }}" name="price_{{ bottle.id }}" value="{{ bottle.price }}" readonly>
                                    {% endif %}
                                </td>
                                <td class="t-right">
                                    {% if bottle.available %}
                                        <input type="hidden" id="type_{{ bottle.id }}" name="type_{{ bottle.id }}" value="{{ bottle.capacity.name }}" readonly>
                                        <input type="hidden" id="volume_{{ bottle.id }}" name="volume_{{ bottle.id }}" value="{{ bottle.capacity.volume }}" readonly>
                                        <input type="number" id="qty_{{ bottle.id }}" name="qty_{{ bottle.id }}" class="input-quantity" min="0" value="{{ bottlesOrdered[bottle.id] is defined ?  bottlesOrdered[bottle.id] : 0 }}">
                                    {% else %}
                                        <i>indisponible</i>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="basket-promotion order-card">
                    <h5>Code promo</h5>
                    <input type="text">
                </div>
                <div class="basket-information  order-card">
                    <div class="sub-total-price">
                        <span class="basket-category">{{ "Panier"|trans }}</span>
                        <span class="basket-result"></span>
                        <hr class="basket-separator">
                    </div>
                    <div class="transport-fees">
                        <span class="basket-category">{{ "Frais de livraison"|trans }}</span>
                        <span class="basket-result">- €</span>
                        <hr class="basket-separator">
                    </div>
                    <div class="total-price">
                        <span class="basket-category">{{ "TOTAL"|trans }}</span>
                        <span class="basket-result">- €</span>
                    </div>
                    <div class="submit">
                        <a id="basket-validation-button" href="{{ path('client_order_delivery') }}" class="btn basket-button">
                            Valider mon panier
                        </a>
                    </div>
                    <p class="m-t-5 t-center">
                        Paiement possible par carte ou par chèque.
                    </p>
                </div>
                <div id="info-quantity" class="order-card success-card ">
                    <p>
                        Nous vous livrons les bouteilles par cartons de 6 et les magnums par carton de 3, n'hésitez à panacher leurs contenus
                    </p>
                    <p id="quantity-info-details" class="" style="color:red"></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('client/js/page/order.js') }}"></script>
{% endblock %}