{% extends 'client/base.html.twig' %}

{% block title %}Domaine Des Vienais - Nos vins{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/page/wine.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/vendor/loader/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('client/css/vendor/loader/loader-1.css') }}">
{% endblock %}
{% block title_page %}Nos vins{% endblock %}

{% block body %}
    <section class="bg1-pattern p-t-120 p-b-105">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-t-45 p-b-30">
                    <div class="wrap-text-welcome t-center">
						<span class="tit2 t-center">
							Domaine des Vienais
						</span>

                        <h3 class="tit3 t-center m-b-35 m-t-5">
                            Nos vins
                        </h3>

                        <p class="t-center m-b-22 size3 m-l-r-auto">
                            La récolte, la vinification et l’élevage de nos vins, effectués par nos soins, se font dans le respect de la tradition, avec l’aide et la connaissance des techniques modernes. Ils vieillissent dans nos caves de tuffeau (galeries souterraines) où la température reste constante toute l’année. Notre production représente actuellement 95 % pour le BOURGUEIL Rouge et 5% pour le BOURGUEIL Rosé.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 p-b-30">
                    <div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                        <img src="{{ asset('client/images/nos-vins-1.jpg') }}" alt="IMG-OUR">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url({{ asset('client/images/vins/header-other-1.jpg') }});">
			<span class="tit2 p-l-15 p-r-15">
				Découvrer
			</span>

            <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
                Nos cuvées
            </h3>
        </div>

        <div class="content-intro bg-white p-t-77 p-b-133">
            <div class="container">
                <div class="row">
                    {% for cuvee in cuvees %}
                            <div class="col-md-4 p-t-30">
                                <!-- Block1 -->
                                <div class="blo1">
                                    <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom" data-toggle="modal" data-id="{{ cuvee.id }}" data-target="#modalCuvee">
                                        <img class="cuvee-image" src="{{ asset( image_cuvee_location ~ cuvee.imagePath) }}" alt="no image">
                                    </div>

                                    <div class="wrap-text-blo1 p-t-35">
                                        <a href="#">
                                            <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                                {{ cuvee.name }}
                                            </h4>
                                        </a>
                                        <p class="m-b-20">
                                            {{ cuvee.description }}
                                        </p>

                                        <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bs-example-modal-lg">
                                            En savoir plus
                                            <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                        </button>-->
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modalCuvee" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xlg"  role="document">
            <div class="modal-content">
                <div class="modal-body-cuvee">
                    <div class="loader-wrapper" id="loader-1-s-5">
                        <div id="loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url({{ asset('client/images/vins/bouteilles.jpeg') }});">
			<span class="tit2 p-l-15 p-r-15">
				Découvrer
			</span>

            <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
                Nos millésimes
            </h3>
        </div>

        <div class="content-intro bg-white p-t-77 p-b-133">

                <div class="container">
                    <div class="row">
                    {% for vintage in vintages %}

                                <div class="col-lg-4 col-md-6">
                                    <div class="card card-vintage">
                                        <div class="card-horizontal">
                                            <div class="img-square-wrapper">
                                                <img class="" src="{{ asset( image_cuvee_location ~ vintage.cuvee.imagePath) }}" alt="Card image cap">
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title txt21">
                                                    <div class="pointer" data-toggle="modal" data-id="{{ vintage.cuvee.id }}" data-target="#modalCuvee">
                                                    {{ vintage.cuvee.name }}
                                                    </div>
                                                    {{ vintage.year }}
                                                </h4>
                                                <p class="card-text txt23">
                                                    {{ vintage.description }}
                                                </p>
                                                <p class="txt22" style="cursor: pointer; text-align: right" data-toggle="modal" data-id="{{ vintage.id }}" data-target="#modalVintage">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    {% endfor %}

                    </div>
                </div>
        </div>
    </section>

    <div class="modal fade" id="modalVintage" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xlg"  role="document">
            <div class="modal-content">
                <div class="color1 modal-body-vintage">
                    <div class="loader-wrapper" id="loader-1">
                        <div id="loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('client/js/page/wine.js') }}"></script>
{% endblock %}