<!doctype html>
<html lang="en">
<head>
    <title>Tableau de bord</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- Material Dashboard CSS -->
    {% block style %}
        <link rel="stylesheet" href="{{ asset('admin/css/material-dashboard.min.css') }}">
        <link rel="stylesheet" href="{{ asset('admin/css/material-dashboard-demo.min.css') }}">
        <link rel="stylesheet" href="{{ asset('admin/css/admin.css') }}">
    {% endblock style %}

</head>
<body>
<div class="row">
    <div class="col-md-12">

        <div style="margin: 0 auto; margin-top: 250px; width: 400px; background: white; padding:20px; border: 1px solid #BBBBBB">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <label for="inputUsername">LOGIN</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            <label for="inputPassword">MOT DE PASSE</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-primary" style="width: 100%;margin-top: 20px" type="submit">
                Connexion
            </button>
        </form>
        </div>
    </div>
</div>
</body>
</html>