{% extends 'admin/page/photo/photo.html.twig' %}

{% block photo_action_title %}
    Modification
{% endblock %}


{% block photo_input_image %}
    {% if form.image_path.vars.value is not null and form.image_path.vars.value != "" %}
        <div class="fileinput text-center fileinput-exists" data-provides="fileinput">
            <div class="fileinput-new thumbnail img-raised">
                <img src="/images/no_image.png" alt="pas d'image">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail img-raised" style="">
                <img src="{{ asset( photo_location ~   form.image_path.vars.value)}}">
            </div>
            <div>
            <span class="btn btn-raised btn-file btn-primary">
                <span class="fileinput-new">Choisir une image</span>
                <span class="fileinput-exists">Changer</span>
                {{ form_widget(form.image_file) }}
                <div class="ripple-container"></div></span>
                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Supprimer</a>
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% block photo_action_button %}
    {{ form_widget(form.save, {'label':'Modifier', 'attr': {'class': 'btn btn-fill btn-warning btn-wd'}}) }}
    <button type="button" class="btn btn-danger btn-simple" data-toggle="modal" data-target="#photoDeleteModal" data-id="{{ form.id.vars.value }}">
        Supprimer la photo
    </button>
    <div class="modal fade" id="photoDeleteModal" tabindex="-1" role="dialog" aria-labelledby="photoDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="photoDeleteModalLabel">Supprimer la photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <a href="#" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
$('#photoDeleteModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var id = button.data('id') // Extract info from data-* attributes
    var url = '{{ path('admin_photo_photo_delete', { 'photoId': 'id' }) }}'
        url = url.replace("id", id);
        var modal = $(this);
        modal.find('.modal-title').text('Supprimer la photo ' + id);
        modal.find('.modal-footer a').attr("href", url)
    })
</script>
{% endblock %}