<div class="row">
    <div class="col-md-4 d-none d-md-block">
        <div class="hov-img-zoom">
            <img src="{{ asset( image_cuvee_location ~ vintage.cuvee.imagePath) }}" alt="no image">
        </div>

    </div>
    <div class="col-md-8 p-r-30">
        <h4 class="title-main t-center txt5 m-b-18">
            {{ vintage.cuvee.name }} {{ vintage.year }}
        </h4>

        {% if vintage.isRewarded %}
        <div class="prize-display">
            <p><img style="width:50px" src="{{ asset( image_prize_location ~ vintage.prize.imagePath) }}" alt="prize"> {{ vintage.prize.fullName }}</p>
        </div>
        {% endif %}
        <p class="txt9 m-t-10 m-b-30">
            {{ vintage.description }}
        </p>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Type</th>
                <th class="t-right" scope="col">Prix</th>
                <th class="t-right" scope="col">Quantité</th>
            </tr>
            </thead>
            <tbody>
            {% for bottle in vintage.bottles %}
                {% if bottle.visible %}
                <tr>
                    <td>{{ bottle.capacity.name}}</td>
                    <td class="t-right" >
                        {% if bottle.promoPrice %}
                            <span class="strikethrough">{{ bottle.price|number_format(2) }} €</span>
                            <span class="promo-price">  {{ bottle.promoPrice|number_format(2) }} €</span>
                        {% else %}
                            {{ bottle.price|number_format(2) }} €
                        {% endif %}
                    </td>
                    <td class="t-right" >
                        {% if bottle.available %}
                            <input class="input-quantity" name="bottle_{{ bottle.id }}" type="number" value="{{ bottlesOrdered[bottle.id] is defined ?  bottlesOrdered[bottle.id] : 0 }}">
                        {% else %}
                            <i>indisponible</i>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <div class="t-right">
            <button id="add-to-cart-button" type="submit">
                Ajouter au panier <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            </button>
            <div id="result-add-to-cart">
            </div>
        </div>
    </div>
</div>

<script>
    $( "#add-to-cart-button" ).click(() => {
        $('#result-add-to-cart').html('<div class="loader-wrapper" id="loader-1-s-2"><div id="loader"></div><\div>');
        const bottles = [];
        $(':input[name^=\'bottle_\']').each((index, elem) => {
            bottles[$(elem).attr('name').substring(7)] = $(elem).val();
            console.log($(elem).attr('name')+ " => "+ $(elem).attr('name').substring(7)+ " => "+ $(elem).val());
        });

        $.ajax({
            url: Routing.generate('client_wine_partial_bottle_update'),
            type: "POST",
            data: {bottles:bottles},
            success: (data) => {
                $('#result-add-to-cart').html('Ajouté avec succès');
            },
            error: (results, status, error) => {
                $('#result-add-to-cart').html('Une erreur est survenue');
            }
        });
    });
</script>
