{% extends 'admin/base.html.twig' %}
{% set page = 'pricing' %}

{% block content %}
    <div class="row"></div>
<div class="row flex-column-reverse flex-md-row" >
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title"><i class="material-icons">list</i>Frais de port</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="text-primary">
                            <tr>
                                <th style="text-align: right">Quantité</th>
                                <th>Frais par quantité</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{ form_start(form) }}
                        {% for deliveryFee in form.deliveryFees %}
                            <tr>
                                <td style="text-align: right">
                                    {{ deliveryFee.vars.value.name }}
                                    {{ form_widget(deliveryFee.name, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td style="width: 200px">
                                    {{ deliveryFee.vars.value.fees }}
                                    {{ form_widget(deliveryFee.fees, {'attr': {'class': 'form-control'}}) }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div style="text-align: right">
                        {{ form_widget(form.save, {'label':'Modifier', 'attr': {'class': 'btn btn-fill btn-success btn-wd'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" >
        <!--<div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title"><i class="material-icons">message</i> Catégories</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="text-primary">
                            <tr>
                                <th class="text-center">#</th>
                                <th>Département</th>
                                <th style="width:100px">Ajouter</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Catégorie 1
                                </td>
                                <td>
                                    <span class="badge badge-info">01</span>
                                    <span class="badge badge-info">02</span>
                                    <span class="badge badge-info">04</span> ...
                                </td>
                                <td>
                                    <input type="number" style="width: 80px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Catégorie 2
                                </td>
                                <td>
                                    <span class="badge badge-info">03</span>
                                    <span class="badge badge-info">05</span>
                                    <span class="badge badge-info">07</span>
                                    <span class="badge badge-info">13</span>
                                    <span class="badge badge-info">23</span>
                                    <span class="badge badge-info">33</span>
                                    <span class="badge badge-info">34</span>
                                    <span class="badge badge-info">37</span>
                                    <span class="badge badge-info">44</span>
                                    <span class="badge badge-info">49</span>
                                    <span class="badge badge-info">85</span>
                                    <span class="badge badge-info">41</span> ...

                                </td>
                                <td>
                                    <input type="number" style="width: 80px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Catégorie 1
                                </td>
                                <td>
                                    <span class="badge badge-info">01</span>
                                    <span class="badge badge-info">02</span>
                                    <span class="badge badge-info">04</span> ...
                                </td>
                                <td>
                                    <input type="number" style="width: 80px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Catégorie 1
                                </td>
                                <td>
                                    <span class="badge badge-info">01</span>
                                    <span class="badge badge-info">02</span>
                                    <span class="badge badge-info">04</span> ...
                                </td>
                                <td>
                                    <input type="number" style="width: 80px">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>-->
    </div>
</div>
{% endblock %}