{% extends 'admin/base.html.twig' %}
{% set page = 'order' %}

{% block content %}
    <div class="row flex-column-reverse flex-md-row" >
        <div class="col-md-4">
            <div class="card">
                <div class="card-header card-header-text card-header-primary">
                    <div class="card-text">
                        <h4 class="card-title"><i class="material-icons">list</i>Liste</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            {% for order in orders %}
                                {% if order.new %}
                                    <tr class="font-weight-bold">
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td>
                                        <a href="{{ path('admin_order_details', { 'orderId': order.id }) }}">
                                            <span class="badge badge-primary">#{{ order.id }}</span>
                                            {% if "carte" == order.paymentType %}
                                                <i class="material-icons">credit_card</i>
                                            {% elseif "cheque" == order.paymentType %}
                                                <i class="material-icons">money</i>
                                            {% endif %}<br>
                                            <span class="badge badge-{{ order.state }}">
                                                {{ order.frenchState }}
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('admin_order_details', { 'orderId': order.id }) }}">
                                        {{ order.deliveryAddress.firstname }} {{ order.deliveryAddress.lastname }}
                                        </a>
                                            {% if order.new %}<span class="badge badge-info">New</span>{% endif %}<br>
                                        <b>{{ order.price|number_format(2) }} €</b>

                                    </td>
                                    <td style="vertical-align:top;text-align: right">
                                        <i class="material-icons  text-primary">date_range</i><br>
                                        {{ order.createdAt|date("d/m/Y", "Europe/Paris") }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" >
            {% if orderDetails is defined %}
                {% set orderToDisplay = orderDetails%}
            {% else %}
                {% set orderToDisplay = orders|first %}
            {% endif %}
            <div class="card card-{{ orderToDisplay.state }}">
                <div class="card-header card-header-text card-header-primary">
                    <div class="card-text">
                        <h4 class="card-title"><i class="material-icons">payment</i> Commande</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" >
                        <div class="col-xl-3 col-lg-3">
                            <span class="badge badge-primary" style="font-size: 15px">#{{ orderToDisplay.id }}</span><br>
                            <span class="text-primary">N°{{ orderToDisplay.reference }}</span>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div style="float: right" class=" text-right">
                                {{ orderToDisplay.createdAt|date("d/m/Y \à H:i:s", "Europe/Paris") }}<br>
                                <span class="badge badge-{{ orderToDisplay.state }}" style="font-size: 20px">{{ orderToDisplay.price|number_format(2) }} €</span><br>
                                <span class="badge badge-{{ orderToDisplay.state }}">{{ orderToDisplay.frenchState }}</span><br>
                                {% if "carte" == orderToDisplay.paymentType %}
                                    <i class="material-icons">credit_card</i>
                                {% elseif "cheque" == orderToDisplay.paymentType %}
                                    <i class="material-icons">money</i>
                                {% endif %}
                            </div>
                            <div class="row">
                                <dt class="col-sm-3"><span class="text-primary">Nom</span></dt>
                                <dd class="col-sm-8">{{ orderToDisplay.deliveryAddress.firstname }} {{ orderToDisplay.deliveryAddress.lastname }}</dd>
                                <dt class="col-sm-3"><span class="text-primary">Téléphone</span> </dt>
                                <dd class="col-sm-8">{{ orderToDisplay.deliveryAddress.phone }}</dd>
                                <dt class="col-sm-3"><span class="text-primary">email</span> </dt>
                                <dd class="col-sm-8">{{ orderToDisplay.deliveryAddress.email }}</dd>
                                <dt class="col-sm-3"><span class="text-primary">Adresse</span></dt>
                                <dd class="col-sm-8">
                                    {{ orderToDisplay.deliveryAddress.address }} <br>
                                    {% if '' !=  orderToDisplay.deliveryAddress.addressComplement %}
                                    {{ orderToDisplay.deliveryAddress.addressComplement }} <br>
                                    {% endif %}
                                    {{ orderToDisplay.deliveryAddress.zipcode }} {{ orderToDisplay.deliveryAddress.city }} <br>
                                </dd>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <strong class="text-primary">Commande : </strong><br>
                            <div class="table-responsive" style="background: white">
                                <table class="table" style="text-align: right">
                                    <thead class="text-primary" style="background: #EEEEEE">
                                        <tr>
                                            <th style="text-align: left">Nom</th>
                                            <th style="text-align: center">Quantité</th>
                                            <th>Prix unitaire</th>
                                            <th>Prix</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for bottle in orderToDisplay.basket %}
                                        <tr>
                                            <td style="text-align: left">{{ bottle.name }}</td>
                                            <td style="text-align: center">{{ bottle.quantity }}</td>
                                            {% set totalPrice = bottle.price * bottle.quantity %}
                                            <td>
                                                {% if bottle.promoPrice %}
                                                    {% set totalPromoPrice = bottle.promoPrice * bottle.quantity %}
                                                    <span class="strikethrough">{{ bottle.price|number_format(2) }} €</span>
                                                    {{ bottle.promoPrice|number_format(2) }} €
                                                {% else %}
                                                    {{ bottle.price|number_format(2) }} €
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if bottle.promoPrice %}
                                                    {% set totalPromoPrice = bottle.promoPrice * bottle.quantity %}
                                                    <span class="strikethrough">{{ totalPrice|number_format(2) }} €</span>
                                                    {{ totalPromoPrice|number_format(2) }} €
                                                {% else %}
                                                    {{ totalPrice|number_format(2) }} €
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot style="background: #EEEEEE">
                                        <tr >
                                            <td colspan="3" style="text-align: left">Sous-Total</td>
                                            <td>{{ orderToDisplay.subPrice|number_format(2) }} €</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="text-align: left">Frais livraison</td>

                                            <td>{{ orderToDisplay.deliveryFees|number_format(2) }} €</td>
                                        </tr>
                                    {% if 0 < orderToDisplay.totalDiscount %}
                                        <tr  class="text-success">
                                            <td colspan="3" style="text-align: left">Économie ({{ orderToDisplay.discountDescription }})</td>

                                            <td>{{ orderToDisplay.totalDiscount|number_format(2) }} €</td>
                                        </tr>
                                    {% endif %}
                                        <tr class="text-primary">
                                            <td colspan="3" style="text-align: left">Total</td>
                                            <td><b>{{ orderToDisplay.price|number_format(2) }} €</b></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-dark" >Archiver</a>
                    <a href="#" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}